{% extends 'layout.html' %}

{% block content %}
<div class="content-section">
	<div class="row">
		<div class="content-section" style="border: none;">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>
		</div>
	</div>
	<div class='row'>
		<ul class="list-group col-12" style="padding: 0;">
			<li class="list-group-item bg-steel">
				<div class="row">
					<div class="col-4"> Número de Entrada 1 </div>
					<div class="col-4"> Número de Entrada 2 </div>
					<div class="col-4"> Data/Hora </div>
				</div>
			</li>
			{% if records %}
				{% for record in records %}
					<li class="list-group-item">
						<div class="row">
							<div class="col-4">{{ record.num1 }}</div>
							<div class="col-4">{{ record.num2 }}</div>
							<div class="col-4">{{ record.date_added }}</div>
						</div>
					</li>
				{% endfor %}
			{% else %}
				<li class="list-group-item">
					<div class="row text-muted">
						Parece que não há nenhum registro no banco de dados...
					</div>
				</li>
			{% endif %}
		</ul>
	</div>
</div>

<div class="content-section">
	<div class="row">
		<div class="btn col-md-6">
			{% if prev_url %}
				<a href="{{ prev_url }}">Resultados Anteriores</a>
			{% else %}
				<div class="text-muted" style="display: inline-block">Resultados Anteriores</div>
			{% endif %}
		</div>
		<div class="btn col-md-6">
			{% if next_url %}
				<a href="{{ next_url }}">Próximos Resultados</a>
			{% else %}
				<div class="text-muted" style="display: inline-block">Próximos Resultados</div>
			{% endif %}
		</div>
	</div>
</div>
{% endblock content %}
