{% extends 'layout.html' %}

{% block content %}
<div class="content-section">
	<div class="row">
		<div class="content-section" style="border: none;">
			<h3>
				Histórico
			</h3>
			<p>
				Nesta página são exibidos os registros de todos os dados inseridos no sistema, ordenados dos mais recente aos mais antigos. Um máximo de 50 registros são carregados na página de uma única vez, e os excedentes (se houverem) podem ser encontrados através dos links de navegação no final da página.
			</p>
		</div>
	</div>
	<div class='row'>
		<ul class="list-group col-12" style="padding: 0;">
			<li class="list-group-item bg-steel">
				<div class="row">
					<div class="col-4"> Número de Entrada 1 </div>
					<div class="col-4"> Número de Entrada 2 </div>
					<div class="col-4"> Data/Hora </div>
				</div>
			</li>
			{% if records %}
				{% for record in records %}
					<li class="list-group-item">
						<div class="row">
							<div class="col-4">{{ record.num1 }}</div>
							<div class="col-4">{{ record.num2 }}</div>
							<div class="col-4">{{ record.date_added }}</div>
						</div>
					</li>
				{% endfor %}
			{% else %}
				<li class="list-group-item">
					<div class="row text-muted">
						Parece que não há nenhum registro no banco de dados...
					</div>
				</li>
			{% endif %}
		</ul>
	</div>
</div>

<div class="content-section">
	<div class="row">
		<div class="btn col-md-6">
			{% if prev_url %}
				<a href="{{ prev_url }}">Resultados Anteriores</a>
			{% else %}
				<div class="text-muted" style="display: inline-block">Resultados Anteriores</div>
			{% endif %}
		</div>
		<div class="btn col-md-6">
			{% if next_url %}
				<a href="{{ next_url }}">Próximos Resultados</a>
			{% else %}
				<div class="text-muted" style="display: inline-block">Próximos Resultados</div>
			{% endif %}
		</div>
	</div>
</div>
{% endblock content %}
