{% extends 'layout.html' %}

{% block content %}
<div class='content-section'>
	<div class='row'>
		<div class="content-section" style="border: none;">
			<h3>
				Seja Bem Vindo!
			</h3>
			<p>
			Nesta página você pode encontrar um formulário contendo dois campos de texto e um botão de envio (submit). Os campos de texto aceitam números inteiros, e ao submeter os dados, o servidor retornará a lista dos números primos (se quaisquer) entre estes números, que será exibida na tela, abaixo do formulário.
			</p>
			<p>
			Os dados inseridos nos campos do formulário serão salvos e mantidos em um histórico, que pode ser acessado através do link na barra de navegação superior.
			</p>
		</div>
	</div>


	<form method='POST', action=''>
		<div class='row'>
			{{ form.hidden_tag() }}
			<div class="col-md-4 form-element">
				<div class='form-group'>
					{% if form.num1.errors %}
						<div>
							{{ form.num1(class='form-control-label form-control-lg form-custom is-invalid') }}
						</div>
						<div class='invalid-feedback d-block'>
							{% for error in form.num1.errors %}
								<span>
									{{ error }}
								</span>
							{% endfor %}
						</div>
					{% else %}
						<div>
							{{ form.num1(class='form-control-label form-control-lg form-custom') }}
						</div>
					{% endif %}
				</div>
			</div>

			<div class="col-md-4 form-element">
				<div class='form-group'>
					{% if form.num2.errors %}
						<div>
							{{ form.num2(class='form-control-label form-control-lg form-custom is-invalid') }}
						</div>
						<div class='invalid-feedback d-block'>
							{% for error in form.num2.errors %}
								<span>
									{{ error }}
								</span>
							{% endfor %}
						</div>
					{% else %}
						<div>
							{{ form.num2(class='form-control-label form-control-lg form-custom') }}
						</div>
					{% endif %}
				</div>
			</div>

			<div class="col-md-4 form-element">
				<div class='form-group button-wrapper'>
					{{ form.submit(class='btn btn-outline-info') }}
				</div>
			</div>
		</div>
	</form>
	{% if results %}
		<div class="content-section" style="background-color: #f1f1f1; padding: 0.5rem; font-size: 1.25rem;">
			Números primos de {{ lim_inf }} à {{ lim_sup }}:
		</div>
		<div class="content-section" style="background-color: #f1f1f1; padding: 0.5rem; font-size: 1.25rem;">
			{{ results }}
		</div>
	{% endif %}
</div>
{% endblock content %}

